@import "~bulma";

.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  height: 115px;
  font-size: 50px;
  background: $dark;
  color: white;
  padding: 10px 100px 20px 45px;
  //box-shadow: 0 8px 6px -6px black;

  button {
    margin-right: 5px;
  }

  a {
    color: white!important;

    i {
      font-size: 40px;
      margin: auto;
    }
  }

}