@import "~bulma";

.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: $dark;
  color: white;
  padding: 0 100px 0 45px;

  .logo {
    padding-top: 12px;
    font-weight: 900;
    font-size: 50px;
  }
  
  button {
    margin-right: 5px;
  }

  a {
    color: white!important;

    i {
      font-size: 40px;
      margin: auto;
    }
  }
  
  > div {
    width: 100%;
    display: flex;

    .user-tabs {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content:space-between;
      padding: 10px 0;
      
      button {
        min-width: 125px
      }
    }
    
    .tabs {
      display: flex;
      width: 100%;
      padding: 0 110px;
      justify-content: center;
      align-items: flex-end;

      .my-button {
        cursor: pointer;
        flex-grow: 3;
        background: #484848;
        border-radius: 5px 5px 0 0;
        transition: background-color 0.5s ease;
        border: none;
        padding: 10px 40px;
        margin: 0 10px;
        color: white;
        outline: none!important;
        
        &:hover {
          background: #585858;
        }

        &:first-child {
          margin-left: 0 !important;
        }
      }

    }
  }

}
