@import "~bulma";

.header-container {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  font-size: 50px;
  background: $dark;
  color: white;
  padding: 20px 100px;
  box-shadow: 0 8px 6px -6px black;

  a {
    color: white!important;

    i {
      font-size: 40px;
      margin: auto;
    }
  }

  .button-group {
    width: 200px;
    display: inline-block;
    margin-left: 175px;
  }

  .button {
    margin: 2px;
  }

}
