@import "~bulma";

.home-view {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 100px) !important;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/cinema.jpeg");
  background-size: cover;

  .box {
    color: white;
    height: 300px;
    width: 600px;
    opacity: 0.9;

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    border-radius: 5px;
    padding: 30px 100px;
    background: $dark;

    h1 {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: white;
    }

    .cinema-list {
      background: $light;
      height: 250px;
      overflow: auto;
      border-radius: 5px;
    }
  }
}
