.employee-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
}

.halls-list {
    display: flex;
}

.add-button-emp {
    margin: 15px 0 0;
}