.cinema-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
}

.info-txt {
  margin-bottom: 5px;
}

.cinema-header {
  margin: 0 auto !important;
}

.cinema-btn {
  margin: 2px;
  min-width: 170px;
}
