.cinema-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
  
  .editable-container {
    width: 90% !important;

    input {
      width: 90% !important;
      justify-content: flex-start;
      text-align: left;
    }
  }

}

.label {
  margin-bottom: 0!important;
}

.cinema-info-txt {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.cinema-header {
  margin: 0 auto !important;
}

.edit {
  display: flex;
  margin-top: auto;
  align-content: space-between;
  width: 50%;
}
