html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main_container {
  display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  //justify-content: flex-start;
  //align-items: flex-start;
}
