.reservations {
  display: flex!important;
  justify-content: center;
  margin-bottom: 10px;
}

.legend {
  display: flex!important;
  align-self: center;
  flex-flow: column;
}

.container.reservation {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.screen {
  width: 500px;
  height: 10px;
  background-color: black;
  margin: 10px auto 50px;
  text-align: center;
  padding-top: 10px;
}

.btn-grp {
  margin: 20px auto 0;
}

.seats-btn {
  margin: 5px;
  width: 250px;
}

.reservation-movie-info {
  width: 500px;
  margin: 50px auto 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.bookings {
  width: 50%;
  margin: 20px auto;
}

.booking {
  display: flex;
  margin: 0 100px;
  justify-content: space-between;
  animation: fadein 1s;
}

.confirm-txt {
  font-weight: 700;
}

.hour-screening {
  &:hover {
    font-weight: bold;
  }
}