<<<<<<< Updated upstream
.page_container {
  display: flex;
  min-height: 850px;
  width: 1280px;
  justify-content: margin-left;
  margin: 0 auto;
  flex-direction: column;
}
=======
.page-container {
	min-height: calc(100vh - 270px);
}
>>>>>>> Stashed changes
