@import "~bulma";

.navigation-wrapper {

	.navigation-link {
		padding: 20px 30px;
		color: black;
		border-bottom: 1px solid black;

		&:hover {
			color: gray;
		}
	}

	.active {
		.navigation-link {
			background: $dark;
			color: white;
			cursor: default;
		}
	}

	.logout-btn {
		margin-left: 32px;
	}

	.navigation-item:last-child {
		position: absolute;
		bottom: 85px;
	}
}
