.cinema-info-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.cinema-info-txt {
  height: 700px;
  width: 650px;
}

.cinema-info-img {
  height: 700px;
  width: 650px;
}

.info-txt {
  margin-bottom: 5px;
}

.cinema-header {
  margin: 0 auto !important;
}

.cinema-btn {
  margin: 2px;
}
