
.movie-list {

	.add-button {
		margin: 20px;
		justify-content: flex-end;
	}

  .button {
    margin-top: 5px;
    margin-left: 5px;
  }

	.movie-table {
		td {
			padding-top: 8px;
		}

		.edit-btn {
			margin-top: 0;
			height: 30px;
			font-size: 13px;
		}
	}

}
