@import "~bulma";

.repertoire {

  .list {
    .tile {
      margin-top: 10px;
      width: 100%;
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
      
      img {
        width: 100px;
        height: 100px;
      }
      
      > div {
        width: 33%;
      }
      
      .showings-info {
        font-size: 24px;
        display: flex;
        
        > b {
          display: block
        }
      }
    }
  }
  
}
