@import "~bulma";

.repertoire {

  .list {
    .tile {
      margin-top: 10px;
      width: 100%;
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
      
      &.hvr-grow:hover {
        transform: scale(1.02);
        transition-duration: 0.6s;
      }
      
      img {
        width: 150px;
        height: 200px;
      }
      
      > div {
        align-self: center;
        width: 33%;
        flex-direction: column;
      }
      
      .showings-info {
        font-size: 24px;
        display: flex;
        
        > b {
          display: block;
        }
      }
    }
  }
  
}
