@import "~bulma";

.repertoire {
  
  .header {
    .dates {
      align-self: center;
      text-align: center;
      
      .date {
        text-align: center;
        cursor: pointer;
        padding: 10px;
        margin: 0 7px;
        display: inline-block;
        border-radius: 5px;
        background: white;
        
        &.active {
          background: #363636;
          color: white;
          font-weight: bold;
          cursor: default;
        }
        
        span {
          display: block;
        }
      }
    }
  }
  
  .list {
    .tile {
      margin-top: 10px;
      width: 100%;
      border-radius: 5px;
      background: #F5F5F5;
      padding: 5px;
      
      &.hvr-grow:hover {
        transform: scale(1.02);
        transition-duration: 0.6s;
      }
      
      img {
        width: 150px;
        height: 200px;
      }
      
      > div {
        align-self: center;
        width: 33%;
        flex-direction: column;
      }

      .div-hoverhand {
        cursor: pointer;
      }
      
      .showings-info {
        font-size: 24px;
        display: flex;
        
        > b {
          display: block;
        }
      }
    }
  }
  
}

h2 {
  font-weight: 500;
  font-size: 60px;
}

