@import "~bulma";

.login {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 115px);
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/curtain.jpg");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    filter: drop-shadow( 0 0 15px #000 );

    form {
        height: 300px;
        width: 400px;
        opacity: 0.9;

        display: flex;
        flex-direction: column;
        flex: 0 0 auto;

        border: 1px solid;
        border-radius: 5px;
        padding: 30px;
        background: $dark;

        .label {
            color: white;
        }

        button {
            margin-bottom: 10px;
            margin-top: 30px;
            width: 50%;
            margin: auto;
        }
    }
}

.effect5
{
    position: relative;
}
.effect5:before, .effect5:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    opacity: 0.8;
    background: $dark;
    -webkit-box-shadow: 0 35px 20px $dark;
    -moz-box-shadow: 0 35px 20px $dark;
    box-shadow: 0 35px 20px $dark;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.effect5:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}