.movie-info-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 30px;
}

.movie-info-txt {
  padding-left: 100px;
  max-width: 50%;
}

.movie-info-img {
  width: 50%;
  text-align: center;
}

.arrow {
  margin-top: 50px;
}

img.poster {
  width: 450px;
}

p.types {
  font-weight: 400;
  margin: 0 0;
}

p.types2 {
  font-weight: 400;
  margin: 0 0;
  font-size: 20px;
}

p.headingsp {
  font-weight: 500;
  margin-top: 10px;
}

p.headingsp2 {
  font-weight: 700;
  margin-top: 20px;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}