.cinema-list {

	.cinema-tile {
		cursor: pointer;
		height: 200px;

		> article {
			display: flex;

			p {
				align-self: center;
				justify-content: center;
				text-align: center
			}
		}

		&:hover article {
			box-shadow: 0 10px 6px -6px #777;
		}
	}

	h1 {
		float: left;
	}

	.add-button {
		display: flex;
		justify-content: flex-end;
		float: right;
		text-align: center;
		border-radius: 50%;
		margin: 0;
		width: 70px;
		height: 70px;
		font-size: 27px;
	}

}
